@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: .2s linear;
  text-decoration: none;

}
a{
  color: rgb(255, 255, 254);
}
body {
  background-color: black;
  border-radius: 10px;
  font-family: 'poppins',sans-serif;
}
.home{
  background: linear-gradient(rgba(240, 4, 4, 0.7),rgba(14, 13, 13, 0.7)),url(../assets/hhhh.png) center;
  background-size: cover;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  width: calc(100% - 160px);
}

.center.collapse {
  width: calc(100% - 85px);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  overflow: hidden;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 8px rgb(11, 12, 11);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(55, 19, 19);
  border-radius: 10px;
}
