.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 5%;
  padding-top: calc(5% + 60px);
}

.center .right h1 {
  color: white;
}

.btn1 {
  padding: 10px 20px;
  width: fit-content;
  background-color: rgba(76, 46, 4, 0);
  font-size: 20px;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: brown;
  border-color: rgba(244, 12, 12, 0);
}

.right img {
  box-shadow: 3px 0 15px rgb(255, 253, 253);
  width: 19%;
  height: 70%;
}
