.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.038);
  background-color: rgb(18, 17, 16);
  /* height: 90px; */
  padding: 0 20px;
  width: 100%;
  z-index: 2;
}
.logo img {
  width: 60px;
}

.nav li a {
  list-style: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav li:hover a {
  color: rgb(138, 14, 14);
}
.nav .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 6px 20px;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  position: relative;
}
.search-box {
  max-width: 300px;
  height: 50%;
  display: flex;
  align-items: center;
  position: relative;
  /* column-gap: 0.7 rem; */
  background-color: #1b1a1a;
  padding: 8px 16px;
  border: 1px solid rgba(200, 13, 13, 0.282);
  box-shadow: 1px 2px 10px rgba(213, 123, 123, 0.247);
  border-radius: 8px;
}

#search-input.show {
  width: 300px;
}
.search-box input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;
}

.search-box .bx {
  font-size: 1.2rem;
  color: rgb(182, 170, 170);
}

#search-input::-webkit-search-cancel-button {
  cursor: pointer;
}

#search-input {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 12px;
  width: 100px; /* Starting width */
  transition: all 0.2s linear;
}

.search_suggestion {
  display: none;
  position: absolute;
  top: 45px;
  border-radius: 8px;
  padding: 6px;
  z-index: 33;
  width: 300px;
  left:0;
  background-color: white;
}

.search_suggestion.show {
  display: flex;
}


.search_suggestion_list{
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
}
.search_suggestion_item {
  width: 100%;
  border-bottom: 1px solid rgba(182, 170, 170,0.2);
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
}
.search_suggestion_item a{
  color: black;
}
.search_suggestion_item:last-child{
  border: none;
}

.search_suggestion_item:hover{
  background-color: rgba(182, 170, 170,0.1);
  border-radius: 8px;
  color: rgba(200, 13, 13);
  /*border: none;*/
}

.search_suggestion_no_result {
  color: black;
}

@media (max-width: 575px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 2px;
  }
  .nav .list{
    padding:0;
  }
  .search-box,
  #search-input,
  .list,
  #search-input:focus {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
