@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: .2s linear;
}
body{

  background-color: black;
  border-radius: 10px;
  font-family: 'poppins',sans-serif;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 254);
}
.home{
background-position: center;
background-size: cover;
height: 30vh;

}
.nav{
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.038);
  background-color: rgb(18, 17, 16);
  height: 90px;
}
.logo img{
  width: 150px;
  margin-left: 30px;
}
.nav .logo {
  width: 0px;
  height: 5px;
   margin-top: -30PX;
   margin-right: 100px;
}
.nav li a{
  list-style: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.nav li:hover a{
  color: rgb(138, 14, 14);
}
.nav .list ul {

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding: 20px;
   font-size: 20PX;
   margin-right: -20%;
   font-family:'poppins',sans-serif ;
   
}
.search-box{
  margin-top: 10%;
  margin-left: -60%;
  padding: 190%;
  max-width: 340px;
  height: 50%;
  width: 140%;
  display: flex;
  align-items: center;
  column-gap: 0.7 rem;
  background-color: #1b1a1a;
  padding: 8px 15px;
  border: 1px solid rgba(200, 13, 13, 0.282);
  box-shadow: 1px 2px 10px rgba(213, 123, 123, 0.247);
  border-radius: 5%;
}
.search-box .bx{
  font-size: 1.2rem;
  color: rgb(182, 170, 170);
}
#search-input {
  width: 100%;
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  font-size: 12px;
}


.ul{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
}
.sidebarr-header .header-logo img{
  height: 46px;
  width: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;

}
.sidebarr .sidebarr-header{
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 20px;
  justify-content: space-between;
}
.sidebarr-header .sidebarr-toggler{
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: rgb(106, 35, 35);
  color: #f9fafa;
  transition: 0.4s ease;
}
.sidebarr.collapse .sidebarr-toggler{
  transform: translate(-4px,65px);
}
.sidebarr-nav .nav-list{
  list-style: none;
  display: flex;
  gap: 36px;
  padding: 1 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}
.sidebarr.collapse .sidebarr-nav .primary-nav{
  transform: translateY(65px);
}
.sidebarr-header .sidebarr-toggler i{
  font-size: 20px;
}
.sidebarr-nav .nav-item .nav-link{
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  padding: 4px 15px;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgba(8, 8, 8, 0.254);
  transition: 0.4s ease;
  font-size: 16px;
}
.sidebarr-nav .nav-item:hover> .nav-link{
  color: #c9b7b7;
  background: #7e2121;
}
.sidebarr-nav  .nav-link .nav-label{
  transition: opacity 0.3s ease;
}
.sidebarr.collapse .nav-link .nav-label{
  opacity: 0;
  pointer-events: none;
}
.sidebarr-nav .nav-item .nav-link  i{
  margin-left: -10%;
  font-size: 20px;
}
.sidebarr.collapse .sidebarr-nav .nav-item .nav-link  i{
  margin-left: 20%;
  font-size: 22px;
}
.sidebarr-nav .secondary-nav{
  position: absolute;
  bottom: 19.5px;
  width: 100%;
  background: #000000;
}
.sidebarr{
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh;
  background-color: #000000;
  transition: all 0.4s ease;
}
.sidebarr.collapse{
  width: 85px;
}
.nav-link::before{
  content: '';
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.container{
  display: flex;
  font-size: 14px;
  
  height: 100vh;
  background:black;
  margin-bottom: 270%;
}
.navbar{
  margin: auto;
  margin-bottom: 300%;
  margin-left: 15%;
  margin-right: 10%;
  padding: 0.5rem rem;
  background-color: rgba(138, 14, 14, 0.069);
  border-radius: 1rem;
  box-shadow: 0 5px 24px rgba(249, 9, 9, 0.425);
}
.nav-links{
  display: flex;
  gap: 2rem;
}
.nav-link1, .drop-down li{
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-size: 19px;
  cursor: pointer;
}
.nav-link2, .li a{
  list-style: none;
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-size: 19px;
  cursor: pointer;
  background-color: #7e2121;
  margin-left: 9px;
  border-radius: 20px;
}
.a{
  text-decoration: none;
}
.drop-down{
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  margin-left: 10px;
  background-color: rgb(253, 253, 253);
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
}
.nav-link::before{
  content: '';
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.nav-link1:hover{
  left: 0;
 width: 100%;
 border-radius: 14px;
 background-color: #faf3f34f;
}
.services:hover .drop-down{
  display: block;
  background-color: #faf3f374;
}
.services a{
  display: flex;
}
.dropdown-icon{
  font-size: 20px;
  right: -5%;
  top: -1px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.3 ease-in-out all;
}
.dropdown-icon:hover{
  color: #c7b5b5;
}
.play-container{
    
  height: 100%;
  width: 98%;
  margin-top: -1%;
     
  }
  .play-img{
      
      width: 89%;
      height: 220%;
      size: 0px;
      object-fit: cover;
      margin-left: 13%;
      margin-top: 0%;
      object-position: center;
      background: linear-gradient(
          8deg,
          rgba(199, 21, 21, 0.992) 14% ,
          rgba(17, 16, 16, 0.022)44%
      );
      border-radius: 2%;
    
  }
  .play-text{
      position: absolute;
      color: #c9b7b7;
      width: 87.5%;
      height: 68%;
      display: flex;
      margin-left: 12.5%;
      margin-top: -80%;
      bottom:19%;
      border-radius: 2%;
      flex-direction: column;
      justify-content: flex-end;
      padding: 14px;
      background: linear-gradient(rgba(31, 26, 26, 0.4),rgba(45, 44, 44, 0.974)
      );
      overflow: hidden;
  
  }
  .rating{
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      color: yellow;
      margin-top: 4Px;
      column-gap: 2px;
  }
  .tags{
      display: flex;
      align-items: center;
      column-gap: 4px;
      margin: 0.5rem 0;
  }
  .tags span{
      color: #ece4e4;
      border: 1px solid rgba(252, 250, 250, 0.346);
      padding: 5px;
      border-radius: 10px;
      
  }
  .watch{
    position: relative;
    margin-left: 80%;
    margin-top: -10%;
    height: 40vh;
    width: 50vh;
  }
  .watch img{
width: 25%;
height: 15vh;
margin-left: 70%;
margin-top: 10%;
border-radius: 20%;
  }
  .watch i {
    margin-left: 85%;
    font-size: 1rem;
    color: #ffffff;
  
  
  }
  
  .play-text h2{
      font-size: 2rem;
      font-weight: 600;
      color: #f4f1f1;
  }
  .cat h1{
    
    color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45Px;
    margin-left: 1%;
    margin-right: 0%;
    width: 120%;
    background-color: rgb(84, 36, 36);
  
  }
  .informations{
    height: 1vh;
    margin-top: 23%;
  }
  .informations h1{
   color: #ddd;
   margin-left: 14%;
   font-size: 40px;
  
  }
  .informations .logo img{
    margin-left: 15%;
    
    width: 4%;
    height: 8%;
    border-radius: 90%;
  }
  .informations .tags p{
    margin-left: 20%;
    margin-top: -5.5%;
    color: rgb(199, 199, 194);
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(199, 199, 194, 0.245);
    
  }
  .informations .tags p span{
   color: #c20909;
   border: none;
   font-size: 23px;
  }
  .informations .tags p:hover{
  
    box-shadow: 1px 2px 10px rgba(199, 199, 194, 0.559);
    border-radius: 20px;
    padding: 2px;
    transition: 2s ease-in-out;
  }
  
  .container{
    width: 70%;
    height: 1vh;
    padding: 55px 30px 20px ;
    margin-left: 30%;
    margin-top: -4%;
  }
  
  .container h2{
    margin-bottom: -4%;
    margin-left: -28%;
    font-size: 120%;
     color: #fcf6f6c5;
     text-decoration: underline;
   
  }
  .icons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: -23%;
    border:  1px rgb(106, 35, 35);
    
    
  }
  .icons a{
    text-decoration: none;
    padding:  10px;
    margin: 10px;
    border-radius: 50%;
    
    
  }
  .icons a i{
    font-size: 2em;
    border: 1px solid rgb(245, 236, 236);
    border-radius: 50px;
    color:rgb(205, 200, 201);
    opacity: 0,9;
  }
  
  .icons a:hover{
    color:rgb(223, 218, 126);
   
    transition: 0.5s;
  }
  .icons a:hover i{
    border: 1px solid rgb(173, 17, 17);
    color:rgb(239, 28, 28);;
    transition: 0.5s;
  }
  
.arrivals{
  margin-top: 20%;
    width: 80%;
    height: 100vh;
    margin-left: 40px;
    
}
  
  .img img{
    width: 90px;
    
    margin-left: 20%;
    margin-top: -30%;
    border-radius: 50%;
    box-shadow: 1px 3px 15px rgb(223, 212, 212);
  }
  .arrivals .arrivals_box{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-gap: 25px ;
    column-gap: 20px;
    margin-left: 17%;
    
  }
  .arrivals .arrivals_box .arrivals_card{
    width: 280px;
    height: 535px;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(120, 11, 13);
    margin: auto 20px;
  }
  .arrivals .arrivals_box .arrivals_card:hover{
    box-shadow:  0 0 5px rgb(223, 212, 212);
  }
  .arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
  }
  .arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 190px;
    height: 270px;
    margin: 5 auto;
    cursor: pointer;
    margin-left: 13%;
    box-shadow:  0 0 7px rgb(222, 183, 183);
    overflow: hidden;
  }
  .arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
  
  }
  .arrivals .arrivals_card .arrival_tag h5{
    font-size: 25px;
    color: white;
    margin-top: -20%;
    margin-left: 10%;
    background-color: #bb6a6a41; 
    font-family:Georgia, 'Times New Roman', Times, serif;
      
  }
  .arrivals .arrivals_card .arrival_tag .log-pod2 img{
    width: 40px;
    margin-left: -85%;
    margin-top: 5%;
    
    border-radius: 90%;
    }
    .arrivals .arrivals_card .arrival_tag .h{
      box-shadow: 1px 1px 15px rgba(90, 35, 35, 0.739);
      margin-top: 4px;
    }
    .arrivals .arrivals_card .arrival_tag  h3{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 22px;
        
          font-weight: 200px;
          color: rgb(240, 215, 215);
      margin-top: 2%;
    }
    .arrivals .arrivals_card .arrival_tag  h6{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 13px;
          box-shadow: 1px 1px 15px rgba(182, 170, 170, 0.207);
          font-weight: 200px;
          color: rgb(189, 178, 178);
      margin-top: 1%;
    }
  .arrivals .arrivals_card .arrival_tag p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 8px 0;
    font-weight: 500px;
    color: white;
    margin-top: 8%;
  
  }
  .arrivals .arrivals_box .arrivals_card .arrival_tag .arrivals_icon i{
    color: rgb(233, 237, 13);
    margin-bottom: 20px;
  }
  .arrivals .arrivals_box .arrivals_card .arrival_tag .arrivals_btn{
    padding: 3px 1px;
    padding-left: 20%;
    padding-right: 5%;
    margin-left: 0%;
    text-decoration: none;
    color: rgb(166, 33, 33);
    border: 1px solid rgba(190, 29, 29, 0.273);
  }
  .arrivals .arrivals_box .arrivals_card .arrival_tag .arrivals_btn i{
    margin-left: -40px; 
    margin-top: 30px;
  }
  
  .arrivals .arrivals_box .arrivals_card .arrival_tag .arrivals_btn:hover{
    box-shadow: 0 0 5px rgb(159, 120, 124);
  }
  .arrivals .arrivals_box .arrivals_card .arrival_tag  .icon i{
    color:#ddd;
    margin-left: 90%;
    margin-top: -11%;
    bottom: 20%;
    
    font-size: 150%;
  }
  .arrivals .arrivals_box .arrivals_card .arrival_tag .icon i:hover{
    color:rgb(193, 5, 5);
    margin-left: 90%;
    font-size: 150%;
  }
  
  
    
        
  ::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset0 0 8px rgb(11, 12, 11);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(76, 24, 24);
    border-radius: 10px;
}