@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: .2s linear;
}
body{

    background-color: black;
    border-radius: 10px;
    font-family: 'poppins',sans-serif;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 254);
}


.nav{
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.573);
    background-color: rgb(18, 17, 16);
    height: 90px;
}
.logo img{
    width: 150px;
    margin-left: 30px;
}
.nav .logo {
    width: 0px;
    height: 5px;
     margin-top: -30PX;
     margin-right: 100px;
 }
 .nav li a{
    list-style: none;
    letter-spacing: 1px;
    cursor: pointer;
 }
 .nav li:hover a{
    color: rgb(138, 14, 14);
 }
 .nav .list ul {

     display: flex;
     justify-content: center;
     align-items: center;
     gap: 40px;
     padding: 20px;
     font-size: 20PX;
     margin-right: -20%;
     font-family:'poppins',sans-serif ;
     
 }
 .search-box{
    margin-top: 10%;
    margin-left: 50%;
    padding: 90%;
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7 rem;
    padding: 8px 15px;
    background-color: #900e0e;
    border-radius: 5%;
 }
 .search-box .bx{
    font-size: 1.2rem;
    color: #fff;
 }
 #search-input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
    font-size: 12px;
 }

 .toggle{
width: 40px;
height: 20px;
background-color: white;
border-radius: 30px;
margin-top: 25px;
margin-left: -50%;
display: flex;
justify-content: space-between;
align-items: center;

 }
 .toggle-icon {
    color: rgb(202, 202, 102);
 }
 .toggle-ball{
    width: 20px;
    height: 20px;
    right: 1px;
    margin-right: 21px;
    background-color: black;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;

 }
 ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      list-style: none;
      font-size: 40px;
  }
  .sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction:column;
    padding: top 60%;
    align-items: center;

  }
  .arrivals{
    width: 100;
    height: 100vh;
    margin-left: -25%;
    
}
.arrivals h1{
border: 1px solid rgb(0, 0, 0);
    color: rgb(240, 234, 235);
    font-size: 50px;
    text-align: center;
    margin-left: 20%;
    margin-right: 0%;
    margin-bottom: 40px;
}
.third1{
    margin-bottom: 290%;
}
  
  .left-menu-icon {
    color:rgb(243, 238, 238);
    margin-top: 30px;
   margin-bottom: 80%;
   font-size: 24px;
  }
  .featured_books{
    background-color: rgb(2, 0, 0);
    border: 1s solid rgb(7, 6, 6);
    margin-bottom: 490%;
    width: 100%;
    height: 100vh;
    padding: 7px 0;
    margin-left: px;
}
.featured_books h1{
    color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45Px;
    background-color: rgb(84, 36, 36);
}
.featured_books .featured_book_box{
    width: 95%;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1FR 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 390px;
    text-align: center;
    padding: 5Px;
    border: 1px solid rgb(96, 30, 30);
    margin: auto 10px;

}  
.featured_books .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px rgb(207, 13, 45);
} 
.featured_books .featured_book_box .featured_book_card .featured_book_img img{
    width: 200px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag h2{
    color: #fff;
    margin: 13px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag writer{
    color: rgb(227, 218, 218);
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .categories{
    color: rgb(247, 241, 241);
    margin-top: -10px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .categories1{
    color: rgb(247, 241, 241);
    margin-top: -40px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag p{
    color: rgb(214, 194, 194);
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .book_price i{
    margin-top: 8px;
    font-weight: bold;
    color:yellow;
    margin-bottom: 1px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn{
    padding: 2px 0px;
    margin-top: 45%;
    border: 2px solid rgb(11, 12, 11);
    text-decoration: none;
    color: rgb(166, 33, 33);
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn:hover{
    box-shadow: 0 0 5px rgb(159, 120, 124);
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset0 0 8px rgb(11, 12, 11);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(76, 24, 24);
    border-radius: 10px;
}